<h1>This is the question you sent</h1>

<p>
Question: <%= @question.question %>
</p>

<p>
Name: <%= @question.name %>
</p>

<%= link_to "Answer this question", new_answer_path(:question_id => @question.id) %>
<%= link_to "Back to questions listing", questions_path %>