<div class="container">
  <h1 class="header-spacer">About Questiong</h1>
  <h4>This site is built by <%= link_to "Maple", 'http://www.mapleong.me/', target: "_blank" %>
  using Ruby on Rails.</h4>
</div>