<div class="container">
  <h1 class="header-spacer">About Questiong</h1>
  <h4>Built by <%= link_to "Maple", 'http://www.mapleong.me/', target: "_blank" %>
  using Ruby on Rails.
    </h4>
  <h6>Made with love in the name of fun. </h6>
</div>