<% flash.each do |name, message| %>
<div class="container">
    <div class="panel panel-success">
        <div class="panel-heading">
            <div class="panel-body">
                <ul>
                    <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
</div>